/*.container {
  max-width: 100%;
}*/


.container hr{
  height: 3.8px;
  
}

.container img {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  object-fit: cover;
}


.container input[type="file"] {
  display: none;
}