.profile {
  flex: 5.5;
  max-width: 100%;
}

.imgContainer {
  margin-left: 10%;
}



.imgContainer img {
  margin-right: 25px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  object-fit: cover;
  background-color: none;

}

.imgContainer [class*="p-image-preview-indicator"]{
border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  object-fit: cover;
  width: 240px;
}

.profile button {
  opacity: 1;
}

.profile button:hover, .profile button:focus{
  opacity: 0.8;
  text-decoration: underline;
  transition: all 0.4s ease 0.2s;
  -webkit-transition: all 0.4s ease 0.2s;
  -moz-transition: all 0.4s ease 0.2s;
  -ms-transition: all 0.4s ease 0.2s;
  -o-transition: all 0.4s ease 0.2s;
}

.followBtn {
  opacity: 1;
}

.profile .followBtn:hover, .profile .followBtn:focus {
opacity: 0.8;
  text-decoration: none ;
  transition: all 0.4s ease 0.2s;
  -webkit-transition: all 0.4s ease 0.2s;
  -moz-transition: all 0.4s ease 0.2s;
  -ms-transition: all 0.4s ease 0.2s;
  -o-transition: all 0.4s ease 0.2s;
}

.link {
  opacity: 1
}

.link:hover{
  opacity: 0.6;
  transition: opacity 0.3s ease-in 0.1s;
  -webkit-transition: opacity 0.3s ease-in 0.1s;
  -moz-transition: opacity 0.3s ease-in 0.1s;
  -ms-transition: opacity 0.3s ease-in 0.1s;
  -o-transition: opacity 0.3s ease-in 0.1s;
}

.editProfile input[type="file"] {
  display: none;
}

.imgInputLabel {
 border: 1px solid #ccc;
 padding: 6px 12px;
 border-radius: 10px;
 -webkit-border-radius: 10px;
 -moz-border-radius: 10px;
 -ms-border-radius: 10px;
 -o-border-radius: 10px;
}