.container{
 flex: 4.5;
 margin-left: 12px;
 margin-right: 12px;
}

.container img {
  object-fit: cover;
}

.container [classes*="p-scrollpanel"], .container [classes*="p-scrollpanel-bar"]  {
background-color: red !important;
}

.container ul {
  height: 500px;
    overflow-y: scroll;
    overflow-x: none;
}

.container [classes*="p-chip-image"]{
  width: 200px;
}

.container ul::-webkit-scrollbar {
  width: 6px;
}


.container ul::-webkit-scrollbar-track {
  background-color: rgb(234, 232, 232);

}

.container ul::-webkit-scrollbar-thumb {
  background: grey;
  margin-bottom: 10px;

}

.container li:hover {
background-color: var(--surface-300);
cursor: pointer;
}