/** @format */

.container {
  min-width: max(95vw, 1200px);
 
}


.inputSearch [class*="p-inputtext"] {
  width: 35vw;
  height: 5vh;
 
}


@media only screen and (max-width: 960px) {
  .logoContainer {
   position: absolute;
   left: 40vw;
   top:22px;
}

.logoContainer img {
  min-width: 3.6rem;
  height: 3rem
}

.brandName{
   display: none !important;
}

}



.home{
  color: red;
  background: red;
}


[class*="p-menuitem-text"]{
  color: white !important;
  font-size: larger;
  
}

.endDiv [class*='p-badge']{
  font-size: 0.7rem;
 max-width: 0px

}

 .actions{
  opacity: 1
 }

 .actions:hover {
   opacity: 0.7;
   transition: opacity 0.3s ease 0.1s;
   -webkit-transition: opacity 0.3s ease 0.1s;
   -moz-transition: opacity 0.3s ease 0.1s;
   -ms-transition: opacity 0.3s ease 0.1s;
   -o-transition: opacity 0.3s ease 0.1s;
 }
