

@media screen and (max-width: 960px) {
  .p-menubar.p-menubar-mobile-active .p-menubar-root-list {
    margin-top: -3px;
    background-color: var(--primary-800) !important;
  }

  .p-menubar .p-menubar-button {
    color: white !important;
  }

  .p-menubar .p-menubar-button:focus {
    box-shadow: 0 0 0 0;
  }

  .p-menubar .p-menubar-button:hover {
    color: black !important;
  }
}

.p-menubar .p-menubar-root-list>.p-menuitem>.p-menuitem-link:focus {
  box-shadow: 0 0 0 0;
}

.p-chip-text {
  color: var(--text-color) !important;

}

.p-button.p-button-success:enabled:focus {
  box-shadow: 0 0 0 0;
}

.p-button.p-button:enabled:focus {
  box-shadow: 0 0 0 0;
}

.p-scrollpanel:active .p-scrollpanel-bar,
.p-scrollpanel:hover .p-scrollpanel-bar{
    background-color: var(--primary-400);
    opacity: 1;
    transition: all .3s ;
    -webkit-transition: all .3s ;
    -moz-transition: all .3s ;
    -ms-transition: all .3s ;
    -o-transition: all .3s ;
}

.p-scrollpanel .p-scrollpanel-bar {
  opacity: 0.9;
  background-color: var(--primary-300);
}


