body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  /*overflow-x: hidden;*/
}


/*@media screen and (max-width: 962px) {
  .p-menubar.p-menubar-mobile-active .p-menubar-root-list {
    margin-top: 0px;
}
}*/


.p-menubar .p-menubar-root-list > .p-menuitem> .p-menuitem-link:not(.p-disabled):hover{
  background: none !important;
  opacity: 1;
 }

 .p-menubar .p-menubar-root-list>.p-menuitem>.p-menuitem-link:not(.p-disabled):hover .p-menuitem-text {
   
    opacity: 0.8;
    transition: opacity 0.4s ease 0.2s;
    -webkit-transition: opacity 0.4s ease 0.2s;
    -moz-transition: opacity 0.4s ease 0.2s;
    -ms-transition: opacity 0.4s ease 0.2s;
    -o-transition: opacity 0.4s ease 0.2s;
}


 .p-menubar .p-menubar-root-list>.p-menuitem>.p-menuitem-link:not(.p-disabled) .p-menuitem-text {
  transition: opacity 0.4s ease 0.3s ;
  -webkit-transition: opacity 0.4s ease 0.3s ;
  -moz-transition: opacity 0.4s ease 0.3s ;
  -ms-transition: opacity 0.4s ease 0.3s ;
  -o-transition: opacity 0.4s ease 0.3s ;
}


.p-inputtext:enabled:focus{
  box-shadow: 0 0 0 0 !important
}



    .p-overlaypanel:after,
    .p-overlaypanel:before{
      content: none !important;
    }