body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  /*overflow-x: hidden;*/
}


/*@media screen and (max-width: 962px) {
  .p-menubar.p-menubar-mobile-active .p-menubar-root-list {
    margin-top: 0px;
}
}*/


.p-menubar .p-menubar-root-list > .p-menuitem> .p-menuitem-link:not(.p-disabled):hover{
  background: none !important;
  color: black !important;
 }

 .p-menubar .p-menubar-root-list>.p-menuitem>.p-menuitem-link:not(.p-disabled):hover .p-menuitem-text {
    color: gold !important;
    transition: color 0.7s ease 0.5s;
    -webkit-transition: color 0.7s ease 0.5s;
    -moz-transition: color 0.7s ease 0.5s;
    -ms-transition: color 0.7s ease 0.5s;
    -o-transition: color 0.7s ease 0.5s;
}


 .p-menubar .p-menubar-root-list>.p-menuitem>.p-menuitem-link:not(.p-disabled) .p-menuitem-text {
  transition: color 0.5s ease 0.5s ;
  -webkit-transition: color 0.5s ease 0.5s ;
  -moz-transition: color 0.5s ease 0.5s ;
  -ms-transition: color 0.5s ease 0.5s ;
  -o-transition: color 0.5s ease 0.5s ;
}


.p-inputtext:enabled:focus{
  box-shadow: 0 0 0 0 !important
}